body{
    background-color: white;
}
form{
    border-color: whitesmoke;
    border-style: solid;
    height: 530px;
    border-radius: 30px;
    width: 340px;
    box-shadow: 20px 10px 20px gray;
    
    
    
}
input{
    padding: 10px 49px;
    
    border-radius: 30px;
    
        
    text-align: start;
    
}
   
#btn{
    padding:10px 109px;
 border-radius: 30px; 
 
 margin-right:20px ;
    
}

